@model WebUI.TestService.Models.TestEditionViewModel

@{
    ViewBag.Title = "EditTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int questionIndex = 0;
    int answerIndex = 0;
}

<div class="page-header">
    <h1>Конструктор теста </h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="testsBlock">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Основные данные</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon">Тема теста</span>
                                @Html.HiddenFor(m => m.Test.Id)
                                @Html.TextBoxFor(m=>m.Test.Theme, new { @class = "form-control", @placeholder = "Тема теста" })
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Описание теста</span>
                                @Html.TextAreaFor(m => m.Test.Description, new { @class = "form-control", @placeholder = "Описание теста" })
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Время на выполнение теста</span>
                                @Html.TextBoxFor(m => m.Test.TestSolveTime, new { @id = "datetimepicker2", @class = "form-control", @placeholder = "чч:мм" })
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Анонимность теста</span>
                                @Html.CheckBoxFor(m => m.Test.IsAnonimous, new { @class = "form-control", @id = "isAnonimousCheck" })
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">Тест действителен до</span>
                                @Html.TextBoxFor(m => m.Test.TestAvalibleTill, new { @id = "datetimepicker", @class = "form-control", @placeholder = "гггг/мм/дд чч:мм" })
                            </div>
                        </div>
                    </div>
                </div>

                <div id="questionAndAnswerBlock">

                    @foreach (var question in Model.Questions)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Вопрос №@question.Index</h3>
                            </div>
                            <div class="questionBlock panel-body">
                                <div class="questionItem" id="@(question.Index - 1)">
                                    <div class="input-group">
                                        <span class="input-group-addon">Содержание вопроса</span>
                                        @Html.TextArea("Questions[" + questionIndex + "].QuestionContent", question.QuestionContent, new { @class = "form-control", @placeholder = "Содержание вопроса" })
                                        @Html.Hidden("Questions[" + questionIndex + "].Id", question.Id)
                                        @Html.Hidden("Questions[" + questionIndex + "].Index", question.Index)
                                        @{questionIndex++;}
                                    </div>
                                    <div class="answersBlock" data-correct-max="1">
                                        @foreach (var answer in Model.Answers.Where(a=>a.QuestionId==question.Id))
                                        {
                                            <div class="input-group anwserItem">
                                                <span class="input-group-addon">
                                                    @Html.CheckBox("Answers["+ answerIndex + "].IsCorrect", answer.IsCorrect)
                                                </span>
                                                @Html.TextBox("Answers[" + answerIndex + "].AnswerContent",answer.AnswerContent, new { @class = "form-control", @placeholder = "Введите вариант ответа" })
                                                @Html.Hidden("Answers[" + answerIndex + "].QuestionId", answer.QuestionId)
                                                @Html.Hidden("Answers[" + answerIndex + "].Id", answer.Id)
                                            </div>
                                            answerIndex++;
                                        }
                                    </div>
                                </div>
                                <div class="btn-group" id="saveQuestionDiv">
                                    <button type="button" class="btn btn-default saveQuestion">Сохранить вопрос</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <p><button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-ok"></span> Завершить редактирование теста</button></p>
            }
        </div>
    </div>
</div>


@Styles.Render("~/Content/testCreationStyles")
@Scripts.Render("~/bundles/datetimepickerScripts")
@Scripts.Render("~/bundles/testCreationScripts")




